.App {
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

.home-sections section {
  min-height: 100vh;  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}


#about {
  background-color: #101820;
}

#projects {
  background-color: #1c1c1c;
}

#skills {
  background-color: #101820;
}

#testimonials {
  background-color: #1c1c1c;
}

#contact {
  background-color: #101820;
}
html {
  scroll-behavior: smooth;  /* Smooth scrolling */
}
